#home div.header:after {
    display: none;
}

.align-hcenter{
    display: flex;
}

.align-hcenter>*{
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 40em) {
    .main-header>div.row{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .mobile-only{
        display: none;
    }
}

h1{
    letter-spacing: 0px;
}

footer .bottom-footer .title {
    color: #fff;
    font-size: 1.1rem;
}

.bottom-footer *{
    color: #d4d4d5;
}

.news-array>.row:not(:first-child){
    margin-top: 20px;
}

.news-array .ui.card.news-item img{
    height: 200px;
}

.icon-button{
    border-radius: 5px;
    padding: 6px 10px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

a:not(.icon-button) i{
    margin-right: 5px;
}

.icon-button i{
    font-size: 17px;
}

.facebook.icon-button{
    background-color: #3b5998;
    color: #fff;
}

.twitter.icon-button{
    background-color: #55acee;
    color: #fff;
}

.news-image{
    margin-bottom: 10px;
}
.news-image label{
    margin-top: 15px;
    font-family: "GTWalsheimRegular";
    font-size: 13px;
}

.ui.image{
    height: 100%;
}

.para{
    text-align: left;
    font-family: "GTWalsheimRegular", "GTWalsheimLight", "GTWalsheim", "Hind Vadodara", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.regular-font{
    font-family: "GTWalsheimRegular", "GTWalsheimLight", "GTWalsheim", "Hind Vadodara", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.header{
    height: initial !important;
    min-height: initial !important;
    max-height: initial !important;
}

.plain.button{
    background: #fafbfc;
    color: #494c5d;
}

.plain.button:not(.action){
    box-shadow: 0px 1px 1px 0 rgba(45, 49, 123, 0.32);
    background-color: #f3f3f3;
}

.plain.button:not(.action):hover{
    background-color: #e9e9e9;
}

.ui.statistics>.statistic {
    margin: 0 0.3em 0.2em;
}

.main-header .ui.statistics{
    display: block;
}

.ui.statistics .statistic>.value img{
    height: 35px;
}

.button-array{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}

.back-svg-container {
    z-index: -1;
}

p.compact{
    margin: 0;
    padding: 0;
    line-height: inherit;
}

.table-segments>.horizontal.segments>.segment:first-child{
    width: 75%;
}

.button-array .button{
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 15px;
}


.vertical-buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
}


.compact.button{
    padding: 5px 15px;
}

.ui.compact.segment{
    padding: 0.5em 0.5em;
}

.compact.button-array .button{
    padding: 5px 15px;
}

.compact.button-array .button:not(:first-child){
    margin-left: 10px;
}

.vertical-buttons .button{
    display: block;
    margin: 10px 0;
    padding: 10px 15px;
}

.align-center{
    text-align: center;
}

.dropdown-menu.active{
    position: relative;
    z-index: 1;
}

.section-tile{
    padding: 20px;
    width: 100%;
}

.section-tile *{
    pointer-events: none;
}

#carousel_wrap .ui.card img{
    height: 150px;
}

#carousel_wrap .ui.card .content{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel_wrap .ui.card .content .header{
    font-size: 16.5px;
    color: #313843;
    height: initial !important;
    min-height: initial !important;
    background: initial !important;
}

.section-tile:hover{
    background-color: #00000010;
}

#carousel_wrap {
    position: relative;
    height: 250px;
    width: 100%;
    overflow: hidden;
    background: #00000010;
    border-radius: 10px;
}

.bee3D--parent {
    -webkit-perspective: 600px;
    perspective: 600px;
    position: absolute;
    top: 165px;
    right: 0;
    left: 185px;
    bottom: 0;
    padding: 50px;
}

.bee3D--slide {
    height: 200px;
    width: 325px;
}

.ui.fluid.segment{
    width: 100%;
}

.ui.canvas.segment{
    padding: 0;
}

.canvas-title{
    padding: 0.5em 0.5em;
    background: #fafafa;
}

.canvas-body{
    padding: 2em 3em;
    padding-top: 1em;
}

@media only screen and (max-width: 767px){
    .canvas-body{
        padding: 1em 1em;
    }
}

.ui.table {
    font-size: 0.9em;
}

.ui.table td {
    padding: .5em .5em;
}

.align-middle{
    display: flex !important;
}

.delegations .ui.statistics .statistic>.value img {
    height: 25px;
}

@media screen and (min-width: 40em){
    h3 {
        font-size: 1.7rem;
    }
}

h3 {
    font-size: 1.7rem;
}


@media screen and (min-width: 40em){
    h4 {
        font-size: 1.2rem;
    }
}

h4 {
    font-size: 1.125rem;
}

footer {
    background: #32313a;
}

.table-wrapper{
    overflow-x: scroll;
}

.row>.ui.canvas.segment{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


@media (min-width: 670px){
    .globalNav .navSection.mobile {
        display: none;
    }
}

.globalNav .navSection.mobile .rootLink {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: relative;
    padding: 0 30px;
}

.globalNav .navSection>a, .globalNav .navSection>button {
    outline: none;
}
.globalNav .colorize {
    color: #fff;
}
.globalNav .colorize {
    color: #6772e5;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}
@media (min-width: 1040px)
    .globalNav .rootLink {
        padding: 0 25px;
}
@media (min-width: 670px)
    .globalNav .rootLink {
        padding: 0 calc(-17.16247px + 4.0541vw);
}
.globalNav .rootLink {
    display: inline-block;
    height: 50px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 17px;
    line-height: 50px;
    font-weight: 400;
    margin: 0;
    padding: 0 10px;
}

.globalNav .navSection.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.globalNav .navSection.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.globalNav .navSection.mobile .rootLink h2 {
    font-size: 0;
    left: 13px;
    top: 23px;
}
.globalNav .navSection.mobile .rootLink h2, .globalNav .navSection.mobile .rootLink h2:after, .globalNav .navSection.mobile .rootLink h2:before {
    position: absolute;
    width: 24px;
    height: 3px;
    border-radius: 1px;
    background: #444166;
}
.globalNav .navSection.mobile .rootLink h2 {
    color: inherit;
}

.globalNav .popup {
    position: absolute;
    left: 10px;
    top: 5px;
    right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    pointer-events: none;
    -webkit-perspective: 2000px;
    perspective: 2000px;
}

.globalNav .popupContainer {
    background: #fff;
    -webkit-box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    font-size: 17px;
    line-height: 40px;
    white-space: nowrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-transform: scale(.95);
    transform: scale(.95);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    opacity: 0;
    will-change: transform,opacity;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}


@media screen and (max-width: 63.9375em){
    #home div.header .header-container {
        padding-top: 20px;
    }
    .table-wrapper{
        border: 1px solid #00000010;
        border-radius: .28571429rem;
    }
}

@media (min-width: 671px){
    .mobile-nav {
        display: none;
    }
}

.globalNav .navRoot {
    position: relative;
    width: 100%;
}



.globalNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 670px){
    .main-header .row:not(.mobile-nav) {
        display: none;
    }
}

.globalNav .popup a {
    display: block;
}

.globalNav .navSection.mobile .rootLink h2:before {
    top: -9px;
}
.globalNav .navSection.mobile .rootLink h2:after, .globalNav .navSection.mobile .rootLink h2:before {
    content: "";
    left: 0;
}
.globalNav .navSection.mobile .rootLink h2, .globalNav .navSection.mobile .rootLink h2:after, .globalNav .navSection.mobile .rootLink h2:before {
    position: absolute;
    width: 24px;
    height: 3px;
    border-radius: 1px;
    background: #444166;
}

.globalNav .navSection.mobile .rootLink h2:after {
    top: 9px;
}

.globalNav .navSection.mobile .rootLink h2:after, .globalNav .navSection.mobile .rootLink h2:before {
    content: "";
    left: 0;
}
.globalNav .navSection.mobile .rootLink h2, .globalNav .navSection.mobile .rootLink h2:after, .globalNav .navSection.mobile .rootLink h2:before {
    position: absolute;
    width: 24px;
    height: 3px;
    border-radius: 1px;
    background: #444166;
}

.globalNav .navSection.mobile.globalPopupActive .popupContainer {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    pointer-events: auto;
}

.globalNav .popupCloseButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
    height: 51px;
    font-size: 0;
    cursor: pointer;
}

@media screen and (max-width: 39.9375em) {
    .columns>.column{
        padding-left: 0;
        padding-right: 0;
    }
    .mobile-only{
        display: block;
    }
}

@media screen and (max-width: 64em) {
    #main-footer .bottom-footer>div{
        margin-top: 20px;
    }
}

.globalNav .popupCloseButton:after, .globalNav .popupCloseButton:before {
    content: "";
    position: absolute;
    background: #6772e5;
    border-radius: 1px;
    left: 14px;
    right: 14px;
    top: 24px;
    height: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: background .1s;
    transition: background .1s;
}

.globalNav .popupCloseButton:hover:after, .globalNav .popupCloseButton:hover:before {
    background: #32325d;
}

.globalNav .popupCloseButton:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.globalNav .popupCloseButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
    height: 51px;
    font-size: 0;
    cursor: pointer;
}


.globalNav .mobileProducts{
    padding: 10px 0 15px;
}

.globalNav .mobileProductsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.globalNav .mobileProductsList a {
    padding: 0 26px;
    font-size: 19px;
    font-weight: 500;
    line-height: 50px;
}

.globalNav .mobileProducts h4 {
    font-weight: 600;
    letter-spacing: .025em;
    text-transform: uppercase;
    margin: -5px 0 0 26px;
}

.globalNav .mobileSecondaryNav {
    border-top: 2px solid #f6f9fc;
    padding: 15px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.globalNav .mobileSecondaryNav>ul {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

footer .bottom-footer {
    padding-top: 30px;
    padding-bottom: 50px;
}

.globalNav .mobileSecondaryNav a {
    padding: 0 20px;
    margin-top: 5px;
    min-width: 100px;
}


.feed .event {
    position: relative;
    padding: 0 !important;
    padding-bottom: 20px !important;
    line-height: 1;
    padding-left: 15px !important;
    border-left: solid 1px #ff5960;
}


.feed .current.event::before {
    content: "";
    border: 3px solid #ff5960;
    -webkit-border-radius: 30px;
    height: 20px;
    width: 20px;
    position: absolute;
    left: -11px;
    top: -10px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.feed .event::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #ff5960;
    position: absolute;
    top: -5px;
    left: -6px;
    border-radius: 18px;
}

.ui.feed>.event>.content .date {
    font-weight: 100;
    color: rgba(0,0,0,.87);
    /* color: rgba(0,0,0,.4); */
}

.ui.feed>.event>.content .summary {
    font-weight: 500;
}

.ui.feed {
    height: 300px;
    padding: 12px;
    box-shadow: 2px 0px 0px 0px rgb(116 155 193 / 15%);
    /* margin: 1rem 0; */
    /* padding: 1em 1em; */
    background: white;
    /* border: 1px solid rgba(34,36,38,.15); */
    border-bottom: 2px solid rgb(78 115 152 / 15%);
    overflow: auto;
}


@media only screen and (max-width: 767px){
    .row>.small-12:not(:last-child){
        margin-bottom: 20px;
    }
}



.mobileProductsList li a, .mobileSecondaryNav li a{
    color: #707B93;
}






#aspect-content {
  margin: 50px 0 0;
  font-family: "Poppins", sans-serif;
}
#aspect-content * {
  box-sizing: border-box;
}

.aspect-tab {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 10px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #ececec;
  opacity: 1;
  transition: box-shadow .2s, opacity .4s;
}
.aspect-tab:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.11);
}

.aspect-input {
  display: none;
}

.aspect-input:checked ~ .aspect-content + .aspect-tab-content {
  max-height: 3000px;
}

.aspect-input:checked ~ .aspect-content:after {
  transform: rotate(0);
}

.aspect-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 80px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  z-index: 1;
  cursor: pointer;
}
.aspect-label:hover ~ .aspect-content:after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiM1NTZBRUEiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=");
}

.aspect-content {
  position: relative;
  display: block;
  height: 80px;
  margin: 0;
  padding: 0 87px 0 30px;
  font-size: 0;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.aspect-content:before, .aspect-content:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
}
.aspect-content:before {
  height: 100%;
}
.aspect-content:after {
  position: absolute;
  width: 24px;
  height: 100%;
  right: 30px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTI0IDI0SDBWMGgyNHoiIG9wYWNpdHk9Ii44NyIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNBOUFDQUYiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTE1Ljg4IDE1LjI5TDEyIDExLjQxbC0zLjg4IDMuODhhLjk5Ni45OTYgMCAxIDEtMS40MS0xLjQxbDQuNTktNC41OWEuOTk2Ljk5NiAwIDAgMSAxLjQxIDBsNC41OSA0LjU5Yy4zOS4zOS4zOSAxLjAyIDAgMS40MS0uMzkuMzgtMS4wMy4zOS0xLjQyIDB6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.aspect-name {
  display: inline-block;
  width: 75%;
  margin-left: 16px;
  font-weight: 500;
  color: #242a32;
  white-space: normal;
  text-align: left;
  vertical-align: middle;
}

.aspect-stat {
  width: 40%;
  text-align: right;
}

.all-opinions,
.aspect-name {
  font-size: 18px;
  line-height: 22px;
}

.all-opinions {
  color: #5d5d5d;
  text-align: left;
}

.aspect-content + .aspect-tab-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;
}

.aspect-content > div,
.aspect-stat > div {
  display: inline-block;
}

.aspect-content > div {
  vertical-align: middle;
}

.positive-count,
.negative-count,
.neutral-count {
  display: inline-block;
  margin: 0 0 0 20px;
  padding-left: 26px;
  background-repeat: no-repeat;
  font-size: 13px;
  line-height: 20px;
  color: #363636;
}

.positive-count {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiM3RUQzMjEiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDE4LjU3MWMtNC43MjYgMC04LjU3MS0zLjg0NS04LjU3MS04LjU3MSAwLTQuNzI2IDMuODQ1LTguNTcxIDguNTcxLTguNTcxIDQuNzI2IDAgOC41NzEgMy44NDUgOC41NzEgOC41NzEgMCA0LjcyNi0zLjg0NSA4LjU3MS04LjU3MSA4LjU3MXpNMjAgMTBjMCA1LjUxNC00LjQ4NiAxMC0xMCAxMFMwIDE1LjUxNCAwIDEwIDQuNDg2IDAgMTAgMHMxMCA0LjQ4NiAxMCAxMHpNNSAxMS40MjdhNSA1IDAgMCAwIDEwIDAgLjcxNC43MTQgMCAxIDAtMS40MjkgMCAzLjU3MSAzLjU3MSAwIDAgMS03LjE0MiAwIC43MTQuNzE0IDAgMSAwLTEuNDI5IDB6bTEuMDcxLTVhMS4wNzEgMS4wNzEgMCAxIDAgMCAyLjE0MyAxLjA3MSAxLjA3MSAwIDAgMCAwLTIuMTQzem03Ljg1OCAwYTEuMDcxIDEuMDcxIDAgMSAwIDAgMi4xNDMgMS4wNzEgMS4wNzEgMCAwIDAgMC0yLjE0M3oiLz4KPC9zdmc+Cg==");
}

.negative-count {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNGRjZFMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDE4LjU3MWMtNC43MjYgMC04LjU3MS0zLjg0NS04LjU3MS04LjU3MSAwLTQuNzI2IDMuODQ1LTguNTcxIDguNTcxLTguNTcxIDQuNzI2IDAgOC41NzEgMy44NDUgOC41NzEgOC41NzEgMCA0LjcyNi0zLjg0NSA4LjU3MS04LjU3MSA4LjU3MXpNMjAgMTBjMCA1LjUxNC00LjQ4NiAxMC0xMCAxMFMwIDE1LjUxNCAwIDEwIDQuNDg2IDAgMTAgMHMxMCA0LjQ4NiAxMCAxMHpNNSAxNC45OThhLjcxNC43MTQgMCAwIDAgMS40MjkgMCAzLjU3MSAzLjU3MSAwIDAgMSA3LjE0MiAwIC43MTQuNzE0IDAgMSAwIDEuNDI5IDAgNSA1IDAgMSAwLTEwIDB6bTEuMDcxLTguNTdhMS4wNzEgMS4wNzEgMCAxIDAgMCAyLjE0MiAxLjA3MSAxLjA3MSAwIDAgMCAwLTIuMTQzem03Ljg1OCAwYTEuMDcxIDEuMDcxIDAgMSAwIDAgMi4xNDIgMS4wNzEgMS4wNzEgMCAwIDAgMC0yLjE0M3oiLz4KPC9zdmc+Cg==");
}

.neutral-count {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNCQUMyRDYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDE4LjU3MWMtNC43MjYgMC04LjU3MS0zLjg0NS04LjU3MS04LjU3MSAwLTQuNzI2IDMuODQ1LTguNTcxIDguNTcxLTguNTcxIDQuNzI2IDAgOC41NzEgMy44NDUgOC41NzEgOC41NzEgMCA0LjcyNi0zLjg0NSA4LjU3MS04LjU3MSA4LjU3MXpNMjAgMTBjMCA1LjUxNC00LjQ4NiAxMC0xMCAxMFMwIDE1LjUxNCAwIDEwIDQuNDg2IDAgMTAgMHMxMCA0LjQ4NiAxMCAxMHpNNS43MTQgMTEuNDI3YS43MTQuNzE0IDAgMSAwIDAgMS40MjloOC41NzJhLjcxNC43MTQgMCAxIDAgMC0xLjQyOUg1LjcxNHptLjM1Ny01YTEuMDcxIDEuMDcxIDAgMSAwIDAgMi4xNDMgMS4wNzEgMS4wNzEgMCAwIDAgMC0yLjE0M3ptNy44NTggMGExLjA3MSAxLjA3MSAwIDEgMCAwIDIuMTQzIDEuMDcxIDEuMDcxIDAgMCAwIDAtMi4xNDN6Ii8+Cjwvc3ZnPgo=");
}

.aspect-info {
  width: 100%;
  white-space: nowrap;
  font-size: 0;
}
.aspect-info:before {
  content: '';
  display: inline-block;
  height: 44px;
  vertical-align: middle;
}

.chart-pie {
  position: relative;
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #e4e4e4;
  vertical-align: middle;
}
.chart-pie:after {
  content: '';
  display: block;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: #fff;
}

.chart-pie-count {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 44px;
  color: #242a32;
  text-align: center;
  z-index: 1;
}

.chart-pie > div {
  clip: rect(0, 44px, 44px, 22px);
}

.chart-pie > div,
.chart-pie.over50 .first-fill {
  position: absolute;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.chart-pie.over50 > div {
  clip: rect(auto, auto, auto, auto);
}

.chart-pie.over50 .first-fill {
  clip: rect(0, 44px, 44px, 22px);
}

.chart-pie:not(.over50) .first-fill {
  display: none;
}

.second-fill {
  position: absolute;
  clip: rect(0, 22px, 44px, 0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  box-sizing: border-box;
}

.chart-pie.positive .first-fill {
  background-color: #82d428;
}
.chart-pie.positive .second-fill {
  border-color: #82d428;
}

.chart-pie.negative .first-fill {
  background-color: #ff6e00;
}
.chart-pie.negative .second-fill {
  border-color: #ff6e00;
}

.aspect-tab-content {
  background-color: #f9f9f9;
  text-align: justify;
}

.sentiment-wrapper {
    margin: 15px 15px 15px;
    padding: 25px 25px 25px;
    background: #fff;
}



.opinion-header {
  position: relative;
  width: 100%;
  margin: 0 0 24px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: #242a32;
  text-transform: capitalize;
}

.opinion-header > span:nth-child(2) {
  position: absolute;
  right: 0;
}

.opinion-header + div > span {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: #363636;
}

.center-self{
    margin-left: auto !important;
    margin-right: auto !important;
}

@media screen and (max-width: 800px) {
  .aspect-label {
    max-height: 102px;
  }

  .aspect-content {
    height: auto;
    padding: 10px 87px 10px 30px;
  }
  .aspect-content:before {
    display: none;
  }
  .aspect-content:after {
    top: 0;
  }

  .aspect-content > div {
    display: block;
    width: 100%;
  }

  .aspect-stat {
    margin-top: 10px;
    text-align: left;
  }
}
@media screen and (max-width: 750px) {
  .sentiment-wrapper > div {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .sentiment-wrapper > div:not(:first-child) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .aspect-label {
    max-height: 140px;
  }

  .aspect-stat > div {
    display: block;
    width: 100%;
  }

  .all-opinions {
    margin-bottom: 10px;
  }

  .all-opinions + div > span:first-child {
    margin: 0;
  }
}

a path{
/*    transition: all 0.1s;
  transform-origin: 50% 50%;*/
}

a:hover path{
    /*fill: #000 !important;*/
    transition: opacity 0.3s;
      -webkit-transition: opacity 0.3s;
      opacity: 0.8;
}

.wp-block-table td{
    padding: 5px;
    border: 1px solid;
}

.wp-block-table.is-style-stripes td, .wp-block-table.is-style-stripes th {
    border-color: #000 !important;
}