* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #444;
}

.main-header h1, .main-header h2, .main-header h3, .main-header h4, .main-header h5, .main-header h6 {
  color: #444;
}

h1, h2, h3, h4, h5, h6{
  color: #444;
}

.main-header {
  position: relative;
  padding: 0 0;
  -webkit-transform-style: preserve3d;
          transform-style: preserve3d;
  -webkit-perspective: 3000px;
          perspective: 3000px;
  left: 0;
  right: 0;
  z-index: 1000;
}

.menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
}
.menu a {
  padding: 20px 20px;
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: #6b7c93;
}

.menu a.active {
  color: #2c323b !important;
  background-color: #00000010;
  border-radius: 10px;
}

.menu a:hover {
      color: #3e4754;
}

.menu__item {
  position: relative;
}
.menu__item:hover > .sub-menu-shadow {
  display: block;
}
.menu .sub-menu-shadow {
  position: absolute;
  display: none;
}

.dropdown-holder {
  position: absolute;
  pointer-events: none;
  width: 100%;
  left: 0;
  top: 100%;
}
.dropdown__bg, .dropdown__arrow {
  position: absolute;
}
.dropdown__arrow {
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white;
  top: -20px;
  opacity: 0;
  transition: .20s ease;
  pointer-events: none;
}
.dropdown__bg {
  width: 450px;
  height: 400px;
  background-color: white;
  opacity: 0;
  transition: .25s ease;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
  z-index: -1;
}
.dropdown__bg-bottom {
  background-color: #f2f6fa;
  position: absolute;
  width: 100%;
  left: 0;
  top: 300px;
  height: 700px;
  transition: .3s ease;
}
.dropdown__wrap {
  overflow: hidden;
  position: absolute;
  transition: .25s ease;
  z-index: 1;
}
.dropdown__wrap .top-section, .dropdown__wrap .bottom-section {
  padding: 20px;
}
.dropdown-menu__content {
  position: absolute;
  opacity: 0;
  transition: .25s ease;
  min-width: 200px;
}
.dropdown-menu__content ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.dropdown-menu__content a:not(.section-tile) {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}
.dropdown-menu__content a:hover {
  color: #333;
}
.dropdown-menu.active .dropdown-menu__content {
  opacity: 1;
}

#product .dropdown-menu__content {
  width: 400px;
}

#developer .dropdown-menu__content {
  width: 400px;
}

.col-2 {
  display: flex;
}
.col-2 > ul, .col-2 > div {
  flex: 1 0 150px;
}

#product .col-2 li {
  display: block;
  padding: 20px 20px 10px;
}
#product .col-2 li h3 {
  font-size: 18px;
  margin: 0 0 10px;
  color: turquoise;
}
#product .col-2 li p {
  color: #999;
  margin: 0;
}

.menu-title {
  margin: 0 0 10px;
  font-size: 18px;
  color: #2196F3;
}

.info {
  line-height: 1.7;
}

#home div.header {
    background: unset;
}