/*
Theme Name: CORES Wordpress
Author: Samu Karu
Description: CORES Lab website
Version: 0.0.1
*/

.canvas-title{
	text-align: center;
}

@media ( min-width: 1000px ) {


	/* Document Setup ------------------------ */

	/* Helper Classes ------------------------ */

	/* Site Header --------------------------- */

	/* Blocks -------------------------------- */

	/* BLOCK: COLUMNS */

	.wp-block-columns.alignwide + .wp-block-columns.alignwide,
	.wp-block-columns.alignfull + .wp-block-columns.alignfull {
		margin-top: -4.8rem;
	}

	/* BLOCK: GALLERY */

	figure.wp-block-gallery.alignwide,
	figure.wp-block-gallery.alignfull {
		margin-bottom: 8rem;
		margin-top: 8rem;
	}

	/* BLOCK: GROUP */

	.entry-content > .wp-block-group.alignwide.has-background,
	.entry-content > .wp-block-group.alignfull.has-background {
		padding: 8rem 4rem;
		margin-bottom: 0;
		margin-top: 0;
	}

	/* BLOCK: IMAGE */

	.wp-block-image .alignleft {

		/*rtl:ignore*/
		margin-right: 0;
	}

	.wp-block-image .alignright {

		/*rtl:ignore*/
		margin-left: 0;
	}

    .wp-block-image .aligncenter figcaption {
        text-align: center;
    }

	/* BLOCK: SEPARATOR */

	hr.wp-block-separator {
		margin: 2rem auto;
	}

	/* Entry Content ------------------------- */

	/* ALIGNMENT CLASSES */

	.entry-content > .alignleft,
	.entry-content > p .alignleft,
	.entry-content > .wp-block-image .alignleft {
		position: absolute;

		/*rtl:ignore*/
		right: calc((100vw - 58rem) / 2 + 58rem + 2rem);
		max-width: calc((100% - 58rem) / 2 - 6rem);
	}

	[class*="wp-block"]:not(.alignwide):not(.alignfull) [class*="__inner-container"] > .alignleft,
	[class*="wp-block"]:not(.alignwide):not(.alignfull) [class*="__inner-container"] > p .alignleft,
	[class*="wp-block"]:not(.alignwide):not(.alignfull) [class*="__inner-container"] > .wp-block-image .alignleft {
		position: relative;

		/*rtl:ignore*/
		right: inherit;
		max-width: inherit;
	}

	[class*="wp-block"].alignwide [class*="__inner-container"] > .alignleft,
	[class*="wp-block"].alignwide [class*="__inner-container"] > p .alignleft,
	[class*="wp-block"].alignwide [class*="__inner-container"] > .wp-block-image .alignleft,
	[class*="wp-block"].alignfull [class*="__inner-container"] > .alignleft,
	[class*="wp-block"].alignfull [class*="__inner-container"] > p .alignleft,
	[class*="wp-block"].alignfull [class*="__inner-container"] > .wp-block-image .alignleft {
		position: absolute;

		/*rtl:ignore*/
		right: calc((100% - 58rem) / 2 + 58rem + 4rem);
		max-width: calc((100% - 58rem) / 2 - 4rem);
	}

	[class*="wp-block"].alignwide.has-background [class*="__inner-container"] > .alignleft,
	[class*="wp-block"].alignwide.has-background [class*="__inner-container"] > p .alignleft,
	[class*="wp-block"].alignwide.has-background [class*="__inner-container"] > .wp-block-image .alignleft {

		/*rtl:ignore*/
		right: calc((100% - 58rem) / 2 + 58rem);
	}

	[class*="wp-block"].alignfull [class*="__inner-container"] > .alignleft,
	[class*="wp-block"].alignfull [class*="__inner-container"] > p .alignleft,
	[class*="wp-block"].alignfull [class*="__inner-container"] > .wp-block-image .alignleft {

		/*rtl:ignore*/
		margin-left: 4rem;
	}

	.entry-content > .alignright,
	.entry-content > p .alignright,
	.entry-content > .wp-block-image .alignright,
	[class*="__inner-container"] > .alignright {
		position: absolute;

		/*rtl:ignore*/
		left: calc((100vw - 58rem) / 2 + 58rem + 2rem);
		max-width: calc((100% - 58rem) / 2 - 6rem);
	}

	[class*="wp-block"]:not(.alignwide):not(.alignfull) [class*="__inner-container"] > .alignright,
	[class*="wp-block"]:not(.alignwide):not(.alignfull) [class*="__inner-container"] > p .alignright,
	[class*="wp-block"]:not(.alignwide):not(.alignfull) [class*="__inner-container"] > .wp-block-image .alignright {
		position: relative;

		/*rtl:ignore*/
		left: inherit;
		max-width: inherit;
	}

	[class*="wp-block"].alignwide [class*="__inner-container"] > .alignright,
	[class*="wp-block"].alignwide [class*="__inner-container"] > p .alignright,
	[class*="wp-block"].alignwide [class*="__inner-container"] > .wp-block-image .alignright,
	[class*="wp-block"].alignfull [class*="__inner-container"] > .alignright,
	[class*="wp-block"].alignfull [class*="__inner-container"] > p .alignright,
	[class*="wp-block"].alignfull [class*="__inner-container"] > .wp-block-image .alignright {
		position: absolute;

		/*rtl:ignore*/
		left: calc((100% - 58rem) / 2 + 58rem + 4rem);
		max-width: calc((100% - 58rem) / 2 - 4rem);
	}

	[class*="wp-block"].alignwide.has-background [class*="__inner-container"] > .alignright,
	[class*="wp-block"].alignwide.has-background [class*="__inner-container"] > p .alignright,
	[class*="wp-block"].alignwide.has-background [class*="__inner-container"] > .wp-block-image .alignright {

		/*rtl:ignore*/
		left: calc((100% - 58rem) / 2 + 58rem + 4rem);
	}

	[class*="wp-block"].alignfull [class*="__inner-container"] > .alignright,
	[class*="wp-block"].alignfull [class*="__inner-container"] > p .alignright,
	[class*="wp-block"].alignfull [class*="__inner-container"] > .wp-block-image .alignright {

		/*rtl:ignore*/
		margin-right: 4rem;
	}

	.entry-content > .alignwide:not(.wp-block-group.has-background),
	.entry-content > .alignfull:not(.wp-block-group.has-background) {
		margin-bottom: 8rem;
		margin-top: 8rem;
	}
}

.PillList-item {
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0 12px 12px 0;
  text-transform: capitalize;
}

.PillList-item input[type="checkbox"] {
  display: none;
}
.PillList-item input[type="checkbox"]:checked + .PillList-label {
  background-color: #21ba45;
  border: 1px solid #21ba45;
  color: #fff;
  padding-right: 16px;
  padding-left: 16px;
}
.PillList-label {
  border: 1px solid #e8e8e8;
  background: #e8e8e8;
  border-radius: 10px;
  font-weight: 500;
  color: rgba(0,0,0,.6);
  display: block;
  padding: 7px 28px;
  text-decoration: none;
}
.PillList-item
  input[type="checkbox"]:checked
  + .PillList-label
  .Icon--checkLight {
  display: inline-block;
}
.PillList-item input[type="checkbox"]:checked + .PillList-label .Icon--addLight,
.PillList-label .Icon--checkLight,
.PillList-children {
  display: none;
}
.PillList-label .Icon {
  width: 12px;
  height: 12px;
  margin: 0 0 0 12px;
}
.Icon--smallest {
  font-size: 12px;
  line-height: 12px;
}
.Icon {
  background: transparent;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  position: relative;
}

.ui.styled.accordion .accordion .content {
    padding: .5em 1em 0.25em !important;
}

.ui.styled.accordion .accordion .extra.content {
    padding: .5em 1em 0.5em !important;
}

.ui.mini.button {
    padding: .5em 0.75em .5em;
}

a.boldref{
	font-weight: 500;
}

li[data-url-stub="blog"] a{
    border: 1px solid #cec9d8;
    border-radius: 10px;
    color: #38099b;
}

/*.ui.styled.accordion{
	padding-bottom: 1.5em;
}

.ui.styled.accordion .active.title:not(:first-child){
	margin-top: 1.5em;
}


.ui.styled.accordion .accordion .content, .ui.styled.accordion .content {
    padding: 0em 1em 0em !important;
}

.ui.styled.accordion .accordion .content {
    padding: 0;
    padding: .5em 1em 0.5em !important;
}*/
