.poetry .post-header{
	text-align: left;
	margin-bottom: 0;
	font-family: 'Montserrat';
}

.poetry .post-header .post-title{
	font-family: 'Montserrat';
}

.poetry .content .header{
	font-family: 'Montserrat' !important;
}

.poetry .content .meta{
	font-family: 'Montserrat';
}

.poetry .content .description{
	font-family: 'Esteban';
	color: #000;
	font-size: 20px;
}

@media (min-width: 68.75em){
.poetry .post-content {
    margin-top: 2em;
}
}

@media (min-width: 43.75em){
.entry {
    margin-bottom: 1em;
}
}

.entry {
    margin: 2em 0;
}

.poetry-body{
	font-family: 'Esteban';
	font-size: 20px;
	color: #000;
}

@font-face {
  font-family: 'Esteban';
  src: 
       url('../fonts/Esteban-Regular.ttf')  format('truetype');
}

@media all and (min-width: 87.5em) {
  .site-header:after {
    height: 0.5px;
  }
}

.menu-primary-items a{
	font-size: 0.8875em;
    text-transform: unset;
}

@media (min-width: 56.25em){
.site-header {
    display: flex;
    align-items: center;
}
}

@media (min-width: 56.25em){
.menu-primary-container {
    margin-top: -7px;
}
}


